image: docker.uib.gmbh/opsi/dev/pybuilder:uib-python-default

stages:
  - prepare
  - package
  - test


prepare_files:
  stage: prepare
  script:
    - curl http://binaryindex.uib.gmbh/development/opsi-dev-tools/linux/x64/installer.sh | sh
    - opsi-dev-cli -l info binary pull
    - version=$(opsi-dev-cli opsi-package get-value productVersion)
    - package=$(opsi-dev-cli opsi-package get-value packageVersion)
    - newpackage="$package"
    - '[ "$CI_COMMIT_TAG" = "" ] && newpackage="$package.$CI_JOB_ID"'
    - opsi-dev-cli opsi-package set-value packageVersion "$newpackage"
    - echo "$version-$newpackage" > CLIENT_DATA/files/opsi-client-agent.version
  artifacts:
    name: prepared_files
    paths:
      - OPSI/control.toml
      - CLIENT_DATA/


linux_make_msi:
  # wixl sometimes produces a corrupt cab file in msi
  when: manual
  image: debian:bullseye
  stage: package
  script:
    - curl http://binaryindex.uib.gmbh/development/opsi-dev-tools/linux/x64/installer.sh | sh
    - apt update
    - apt -y install wget cpio unar wixl uuid-runtime
    - cp CLIENT_DATA/oca-installation-helper.exe opsi-client-agent-installer.exe
    - version=$(opsi-dev-cli opsi-package get-value productVersion)
    #- product_id=$(uuidgen | tr a-z A-Z)
    #- sed "s/{version}/${version}/g;s/{product_id}/${product_id}/g" msi/opsi-client-agent.wxs > opsi-client-agent.wxs
    - sed "s/{version}/${version}/g" msi/opsi-client-agent.wxs > opsi-client-agent.wxs
    - cat opsi-client-agent.wxs
    - wixl -v opsi-client-agent.wxs
    - opsi-dev-tool -l info --signserver-sign opsi-client-agent.msi
    # Push to binaryindex
    - '[ "$CI_COMMIT_TAG" = "" ] && opsi-dev-cli -l info binary push opsi-client-agent.msi --product=opsi-client-agent-msi --system=windows --architecture=x86 --version="$version" --prerelease"$CI_JOB_ID"'
    - '[ "$CI_COMMIT_TAG" = "" ] || opsi-dev-cli -l info binary push opsi-client-agent.msi --product=opsi-client-agent-msi --system=windows --architecture=x86 --version="$version"'
    - '[ "$CI_COMMIT_TAG" = "" ] || opsi-dev-cli -l info release-service register-package-version opsi-client-agent-msi TOOL --files=opsi-client-agent.msi --version="$version" --changelog-file=OPSI/CHANGELOG.md'
  artifacts:
    name: opsi-client-agent-msi
    paths:
      - opsi-client-agent.msi


windows_make_msi:
  stage: package
  tags:
    - windows
  script:
    - powershell -ExecutionPolicy ByPass -c "irm http://binaryindex.uib.gmbh/development/opsi-dev-tools/windows/x86/installer.ps1 | iex"
    - Copy-Item CLIENT_DATA\oca-installation-helper.exe -Destination opsi-client-agent-installer.exe
    - Invoke-WebRequest -UseBasicParsing -Uri "https://github.com/wixtoolset/wix3/releases/download/wix3141rtm/wix314-binaries.zip" -OutFile wix-binaries.zip
    - Expand-Archive wix-binaries.zip -DestinationPath wix
    # Get version from control file
    - $version = opsi-dev-cli.exe opsi-package get-value productVersion
    # Patch version
    - ((Get-Content -path msi\\opsi-client-agent.wxs -Raw) -replace "{version}",$version) | Set-Content -Path opsi-client-agent.wxs
    - Get-Content opsi-client-agent.wxs
    # Build msi
    - wix\\candle.exe opsi-client-agent.wxs
    - wix\\light.exe opsi-client-agent.wixobj
    # Sign msi
    - opsi-dev-tool.exe -l6 --signserver-sign opsi-client-agent.msi
    # Push to binaryindex
    - if (! $CI_COMMIT_TAG) {opsi-dev-cli.exe -l6 binary push opsi-client-agent.msi --product=opsi-client-agent-msi --system=windows --architecture=x86 --version=$version --prerelease="$CI_JOB_ID"}
    - if ($CI_COMMIT_TAG) {opsi-dev-cli.exe -l6 binary push opsi-client-agent.msi --product=opsi-client-agent-msi --system=windows --architecture=x86 --version=$version }
    - if ($CI_COMMIT_TAG) {opsi-dev-cli.exe -l6 release-service register-package-version opsi-client-agent-msi TOOL --files=opsi-client-agent.msi --version=$version --changelog-file=OPSI\\CHANGELOG.md}

make_opsi_package:
  stage: package
  script:
    - curl http://binaryindex.uib.gmbh/development/opsi-dev-tools/linux/x64/installer.sh | sh
    - opsi-cli package make
    - upload-package *.opsi


test_windows_versions:
  stage: test
  when: manual
  script:
    - curl http://binaryindex.uib.gmbh/development/opsi-dev-tools/linux/x64/installer.sh | sh
    - OLDVERSION="4.2.0.69-1"
    - version=$(opsi-dev-cli opsi-package get-value productVersion)
    - package=$(opsi-dev-cli opsi-package get-value packageVersion)
    - version="$version-$(echo $package | tr '.' '~')"
    - opsi-dev-cli -l info jenkins test --versions="$OLDVERSION,$version,$version"
    - opsi-dev-cli -l info jenkins test --versions="$version,1.0-2" --systems=win11-x64-24h2 --products=opsi-client-agent,oca-access-test --actionrequest=setup,setup --productsources=opsi-client-agent,oca-access-test

test_tagged:
  stage: test
  only:
    - tags
  script:
    - curl http://binaryindex.uib.gmbh/development/opsi-dev-tools/linux/x64/installer.sh | sh
    - OLDVERSION="4.2.0.69-1"
    - version=$(opsi-dev-cli opsi-package get-value productVersion)
    - package=$(opsi-dev-cli opsi-package get-value packageVersion)
    - version="$version-$(echo $package | tr '.' '~')"
    - opsi-dev-cli -l info jenkins test --versions="$OLDVERSION,$version,$version"
    - opsi-dev-cli -l info jenkins test --versions="$version,1.0-2" --systems=win11-x64-24h2 --products=opsi-client-agent,oca-access-test --actionrequest=setup,setup --productsources=opsi-client-agent,oca-access-test
